

/*Seteo General*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Proza Libre', sans-serif;
}


.subtitle{
  color: red;
  font-size: 30px;
}

h3{
  color: #fff;
  font-size: 30px;
}

section{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;  
  font-size: 20px; 
  padding: 0px 10px;
}


  

  
nav a.active {
  background-color: #4CAF50;
  color: white;
}



section img{
position: relative;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    z-index: 1;
}

/*formulario*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form {
  border-radius: 5px;
  background-color: #ccc8c8;
  padding: 20px;
  width: 100%;
}

/*Video de Youtube*/
iframe{
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

article{
  text-align: center;
}

p{
  margin-bottom: 20px ;
}

a{
  margin-left: 10px;
}

